.next-button {
    position: absolute;
    bottom: 50px;
    right: 60px;
    background-color: green; /* Green background */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 15px 30px; /* Larger padding for a bigger button */
    font-size: 18px; /* Larger font size */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex; /* To align text and icon */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
  }
  
  .next-button svg {
    margin-left: 10px; /* Space between text and icon */

  }
  